body {
  font-family: Arial, sans-serif;
  background: #0bcaf1;
  padding: 20px;
  text-align: center;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: url("images/background.jpg") no-repeat center center fixed;
  background-size: cover;
  color: hsla(300, 10%, 8%, 0.906);
  padding: 20px;
  text-align: center;
}

.container {
  background-color: lch(69.28% 38.14 206.7 / 0.6); /* semi-transparent background */
  padding: 20px;
  border-radius: 12px;
  max-width: 600px;
  margin: auto;
}



#quote-box {
  margin: 20px 0;
  font-size: 1.2em;
}

.buttons button {
  margin: 5px;
  padding: 10px 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

#favorites-list {
  text-align: left;
  padding: 0 20px;
}
